$font-family: "Poppins", "Arial";
$background-gradient: linear-gradient(-35deg, #24222b 0%, #09080b 100%);
$background-color: #09080b;
$accent-color-pink: #F9224B;
$accent-color-blue: #0B75D2;
$text-primary: #ffffff;
$text-secondary: #707070;


$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
