$font-family: 'Poppins', 'Arial';
$background-gradient: linear-gradient(-35deg, #24222b 0%, #09080b 100%);
$background-color: #09080b;
$accent-color-pink: #ec0d34;
$accent-color-blue: #0b75d2;
$text-primary: #ffffff;
$text-secondary: #929292;

$page-padding: 90px;
$page-padding-mobile: 30px;

$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
