@import "./_variables.scss";

body {
  background: linear-gradient(115deg, #24222B, #09080B);
  color: white;
  font-family: $font-family;
}

h1 {
  font-size: 107px;
}

h2 {
  font-size: 44px
}

h3 {
  font-size: 52px;
  color: $text-secondary;
}

p {
  font-size: 38px;
  color: $text-secondary;
}

.page {
  position: relative;
  min-height: calc(100vh - 2 * #{$page-padding});
  padding: 90px;
  display: flex;
  flex: 1;
  flex-direction: column;

  .hero {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2 *#{$page-padding});
    gap: 50px;

    justify-content: center;

    h1 {
      line-height: 106px;
    }

    p {
      max-width: 755px;
      wrap-option: wrap;
      line-height: 52px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 40px;
    min-height: calc(100vh - 2 *#{$page-padding-mobile});

    .hero {
      min-height: calc(100vh - 2 *#{$page-padding-mobile});
      gap: 20px;

      h1 {
        line-height: 44px;
      }

      p {
        line-height: 23px;
        max-width: 280px;
      }
    }
  }
}

@media(max-width: $breakpoint-mobile) {
  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 23px;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 19px;
  }

  .page {
    padding: 30px;
  }
}
